
<nav class="navbar navbar-light bg-primary">
    <div id="parent">
      <a href="./popularplans" style="color: aliceblue;"><b>&emsp;   AirVibe  &emsp;</b></a>
      <a style="color: aliceblue;" href="popularplans">&emsp;  Popular plans   &emsp;</a>
      <a style="color: aliceblue;"href="addon">&emsp;AddOns&emsp;</a>
      <a style="color: aliceblue;"href="notification">&emsp;Notification&emsp;</a>
      <a style="color: aliceblue;"href="./viewReview">&emsp;Review&emsp;</a>
        <button class="btn float-right" style="color: blue;" (click)="logout()">Logout</button>
      
    </div>
  </nav>