
   <div class="head"><h3><b>Login</b> </h3></div>
   <div class="body">
   <form  [formGroup]= "loginForm" (ngSubmit)="postData()">
    <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="emailaddress">
              <span *ngIf="loginForm.controls['emailaddress'].touched && loginForm.controls['emailaddress'].hasError('required')">Enter emai address</span>
              <span *ngIf="loginForm.controls['emailaddress'].touched && loginForm.controls['emailaddress'].hasError('email')">Enter valid emai address</span>
          
    <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="Password">
            <span *ngIf="loginForm.controls['Password'].touched && loginForm.controls['Password'].hasError('required')">Enter Password</span>
        <br>
        <button type="submit" class="btn" id="loginButton" [disabled]="!loginForm.valid"><b>Login</b></button>
        <p>New user/admin?<a id="signupLink" href="./signup" style="color: rgb(25, 24, 26);"> sign up</a></p>
    </form>
  </div>